.menu {
  position: fixed;

  width: 100vw;
  height: 100vh;
  z-index: 100;
  color: var(--white-color-10);
  background-color: var(--black-color-10);
  top: -120%;
  
  opacity: 0;
  
  transition: all 1s ease-in-out;
  &__container {
    display: flex;
    @media screen and (max-width: 682px) {
      flex-direction: column-reverse;
    }
  }
  &__left {
    display: flex;
    flex-direction: column;
    height: 100vh;
    flex: 0 1 35%;
    @media screen and (max-width: 1350px) {
      flex: 0 0 45%;
    }
    @media screen and (max-width: 682px) {
      height: 40vh;
      flex-direction: column-reverse;
    }

  }
  &__left-form {
    height: 70%;
    border-right: 1px solid var(--white-color-10);
    border-bottom: 1px solid var(--white-color-10);
    display: flex;
    padding-bottom: 50px;
    padding-left: 50px;
    @media screen and (max-width: 1200px) {
      padding-left: 10px;
      padding-right: 10px;
    }
    @media screen and (max-width: 682px) {
      height: 100%;
    }
    @include mobile{
      padding-bottom: 20px;
    }
  }
  &__form {
    margin-top: auto;
    max-width: 578px;
    display: flex;
    flex-direction: column;
  }
  .form__title {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 30px;
    color: var(--white-color-10);
    margin-bottom: 50px;
    @media screen and (max-width: 1560px) {
      font-size: 24px;
    }
    @include tablet {
      font-size: 20px;
    }
    @media screen and (max-width: 682px) {
     margin-bottom: 20px;
     font-size: 16px;
    }
    @include mobile{
      font-size: 13px;
    }
  }
  .form__inputs-wrapper {
    display: flex;
    align-items: center;
    gap: 50px;
    @include tablet {
      flex-direction: column;
      gap: 10px;
    }
    @media screen and (max-width: 682px) {
      flex-direction: row;
      gap:50px;
    }
  }
  .form__send-btn {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid var(--white-color-10);
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(15px);
    transition: all 0.5s ease-in-out;
    gap: 20px;
    position: relative; /* для позиционирования svg */
    overflow: hidden; /* чтобы текст не выходил за пределы */
    cursor: pointer;
    flex-shrink: 0;
    span {
      position: absolute; /* Позиционируем текст внутри кнопки */
      left: 50%; /* Центрируем текст */
      transform: translateX(-50%); /* Центрируем текст */
      white-space: nowrap; /* Не переносить текст на новую строку */
      transition: opacity 0.3s ease; /* Плавное появление текста */
      font-family: var(--font-family);
      font-weight: 400;
      font-size: 20px;
      color: var(--white-color-10);
    }

    .send-icon {
      transition: transform 0.3s ease; /* Плавный поворот иконки */
    }
  }
  .form__inputs {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 300px;
    width: 100%;
    input {
      background-color: transparent;
      border-bottom: 1px solid var(--white-color-10);
      padding: 5px 10px;
      font-family: var(--font-family);
      font-weight: 300;
      font-size: 20px;
      color: var(--white-color-10);
      &::placeholder {
        color: rgba(255, 255, 255, 0.5);
      }
    }
    @media screen and (max-width: 1560px) {
      max-width: 100%;
    }
    @include mobile{
      font-size: 16px;
    }
  }
  &__left-logo {
    border-right: 1px solid var(--white-color-10);
    height: 30%;
    @include mobile{
      height: auto;
    }
  }
  .menu__inputs-wrapper {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    width: 100%;
    justify-content: center;
    position: relative;
    gap: 21px;
  }

  .menu__input-wrapper {
    position: relative;
    width: 100%;
  }
  .menu__input-connect {
    width: 100%;
  }
  .menu__input-name,
  .menu__input-type {
    width: 100%;
    border-bottom: 1px solid var(--white-color-10);
    padding: 5px 10px;
    background-color: transparent;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    color: var(--white-color-10);
    position: relative;
    z-index: 1;
    @include mobile{
      font-size: 16px;
    }
  }

  .menu__label-name,
  .menu__placeholder-connect {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    color: var(--white-color-10);
    opacity: 0.5;
    position: absolute;
    left: 10px;
    bottom: 5px;
    transition: all 0.3s ease-in-out;
    z-index: 0;
    @include mobile{
      font-size: 16px;
    }
  }

  .menu__input-name:focus ~ .menu__label-name,
  .menu__input-type:focus ~ .menu__placeholder-connect {
    bottom: 30px;
    font-size: 15px;
  }
  .menu__input-name.not-empty ~ .menu__label-name,
  .menu__input-type.not-empty ~ .menu__placeholder-connect {
    bottom: 30px;
    font-size: 15px;
  }
  .menu__contact-method-radio {
    display: flex;
    gap: 10px;
    margin-top: 10px;
  }
  .menu__method {
    border: 1px solid var(--white-color-10);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  input[type='radio']:checked + .menu__method {
    background-color: var(--blue-color-10);
    border: 1px solid var(--blue-color-10);
    color: var(--white-color-10);
    svg path {
      fill: var(--white-color-10);
    }
  }
  &__left-logo {
    display: flex;
  }
  &__left-link {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 50px;
    color: var(--white-color-10);
    margin-top: auto;
    padding-bottom: 50px;
    padding-left: 50px;
    position: relative;
    @include mobile{
      padding: 10px;
      font-size: 24px;
    }
  }
  input[type='radio']:checked + .contact-method-label {
    background-color: var(--blue-color-10);
    border: 1px solid var(--blue-color-10);
    transition: background-color 0.3s ease-in-out;
  }

  &__right {
    margin-left: auto;
    padding-right: 154px;
    height: 100vh;
    @media screen and (max-width: 1200px) {
      padding: 50px;
    }
    @media screen and (max-width: 682px) {
      height: 60vh;
      width: 100%;
      padding: 20px 10px;
    }
    @include mobile {
      height: 100%;
      flex-shrink: 0;
    }
  }
  &__right-wrapper {
    height: 100%;
   
    
  }
  &__right-list {
    display: flex;
    flex-direction: column;
    text-align: right;
    @media screen and (max-width: 682px) {
      gap: 15px;
    }
    @include mobile{
      gap: 5px;
    }
  
  }
  &__right-list-link {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 100px;
    color: transparent;
    -webkit-text-stroke: 1px var(--white-color-10);
    opacity: 0.2;

    @media screen and (max-width: 1560px) {
      font-size: 70px;
    }
    @media screen and (max-width: 1200px) {
      font-size: 50px;
    }
    @media screen and (max-width: 816px) {
      font-size: 30px;
    }
    @media screen and (max-height: 768px) {
      font-size: 24px;
    }
  }
  .swiper-slide a {
    transition: color 0.3s;
  }

  .swiper-slide-active {
  }
  .swiper-slide-active > a {
    color: var(--white-color-10);
    display: flex;
    align-items: center;
    gap: 40px;
    font-size: 140px;
    opacity: 1;
    @media screen and (max-width: 1560px) {
      font-size: 100px;
    }
    @media screen and (max-width: 1200px) {
      font-size: 80px;
    }
    @media screen and (max-width: 816px) {
      font-size: 60px;
    }
  }
  .swiper-slide {
    display: flex;
    align-items: center;
    gap: 40px;
    justify-content: end;
    @media screen and (max-width: 682px) {
      width: 100%;
      justify-content: center;
      align-items: start;
      height: auto;
    }
    @include mobile{
    
      
    }

  }
}
.swiper-wrapper{
  @media screen and (max-width: 682px) {
    align-items: center;
    justify-content: center;
  }
}
.menu-active {
  transition: all 1s ease-in-out;
  top: 0;
  opacity: 1;
}

fieldset {
  border: none;
  padding: 0;
}
[data-theme='light'] {
  .menu__label-name,
  .menu__placeholder-connect {
    color: var(--white-color-10);
  }

  input[type='radio']:checked + .menu__method {
    svg path {
      fill: var(--black-color-10);
    }
  }
}
