.steps {
  position: fixed;
  inset: 0;

  z-index: 3;

  &__container {
    position: relative;
  }
  &__upper {
    height: 30vh;
  }
  &__title {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 100px;
    line-height: 100%;
    max-width: 860px;
    position: absolute;
    z-index: 0;
    left: 0;
    top: 50px;
    -webkit-text-stroke: 2px #ffffff;
    color: transparent;
    opacity: 0.3;
  }

  &__subtitle {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 30px;
    color: var(--white-color-10);
    margin: 0 auto;
    max-width: 693px;
    padding-top: 100px;
    position: relative;
    z-index: 1;
    span {
      color: var(--blue-color-10);
    }
  }

  &__orbits {
    position: relative;
    height: 70vh;
  }

  &__planet {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: var(--white-color-10);
    box-shadow: 0 0 100px 0 #2d4cff;
    position: absolute;
    left: 0;
    top: 20%;
  }
 

  .orbit__search {
    position: absolute;
    top: 24%;
    left: -20%;
    svg {
      transform: scaleX(-1);
    }
  }

  &__info {
    display: flex;
    align-items: center;
    gap: 15px;
    position: relative;
    z-index: 10;
    p {
      transition: text-shadow 0.3s ease-in-out;
    }
    p:hover {
      text-shadow: 0 0 50px 0 #2d4cff;
    }
  
  }

  &__circle {
    width: 50px;
    height: 50px;
    background-color: var(--blue-color-10);
    border-radius: 50%;
    overflow: hidden;
  }
  &__info-text {
    display: flex;
    flex-direction: column;
  }
  &__info-number {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 20px;
    -webkit-text-stroke: 0.5px #ffffff;
    color: transparent;
  }
  &__info-desc {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 20px;
    color: var(--white-color-10);
    max-width: 178px;
  }

  .orbit__plan {
    position: absolute;
    left: -20%;
    top: 20%;
    svg {
      transform: scaleX(-1);
    }
    
  }
  .orbit__design {
    position: absolute;
    left: -23%;
    top: 14%;
    svg {
      transform: scaleX(-1);
    }
  }

  .steps__circle {
    position: relative;
    transition: box-shadow 0.3s ease-in-out;
    svg {
      transform: scale(1.1);
    }
  }
  .search {
    position: relative;
    
  }
  .search{
    z-index: 7;
  }
  .plan{
    z-index: 6;
  }
  .design{
    z-index: 5;
  }


  .steps__circle-hover {
    position: absolute;
    right: 0%;
    transform: rotate(0deg) !important;
    opacity: 0;
    transition: opacity 0.3s ease-in-ou;
  }

  .steps__info:hover .steps__circle {
    box-shadow: 0 0 50px 0 #2d4cff;
  }

  .steps__info:hover .steps__info-text .steps__info-number {
    text-shadow: 0 0 50px #2d4cff;
  }

  .steps__info:hover .steps__info-text .steps__info-desc {
    text-shadow: 0 0 50px #2d4cff;
  }
  .steps__info:hover .steps__circle-hover {
    opacity: 1;
  }

  &__info-text-content {
    display: flex;
    flex-direction: column;
    gap: 100px;
    max-width: 817px;
    width: 100%;
    padding-top: 30px;
    position: relative;
    margin-top: 30px;
    position: absolute;
    visibility: hidden;
    opacity: 0;
    &::before {
      content: '';
      position: absolute;
      top: 0;
      width: 150%;
      background-color: var(--white-color-10);
      display: block;
      height: 1px;
    }
  }
  .design-content {
    top: 43%;
    left: 43%;
  
  }

  .plan-content {
    top: 43%;
    left: 43.8%;
   
  }
  .search-content {
    top: 43%;
    left: 48.5%;
   
  }

  &__info-text-paragraph {
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 20px;
    color: var(--white-color-10);
  }

  &__info-btns {
    display: flex;
    align-items: center;

    gap: 30px;
  }
  .steps-btn {
    padding: 12px 12px 14px 14px;
    max-width: 200px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 0.05em;
    color: var(--white-color-10);
    border: 1px solid #fff;
    border-radius: 50px;
    svg {
      transform: rotate(180deg);
    }
  }
  .reset-btn {
    position: absolute;
    bottom: 50px;
    right: 50px;
    z-index: 15;
    display: flex;
    align-items: center;
    gap: 20px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 0.05em;
    color: #fff;
    opacity: 0;
  }
}
