:root {
  // Styleguide colors

    --black-color-10: #131313;
    --blue-color-10: #2d4cff;
    --white-color-10: #FFFFFF;

  // fonts

  --font-family: "Inter", sans-serif;

  // container sizes

  --container-width: 1820px;
  --container-padding: 15px;

  // transition

  --transition: 0.3s ease-in-out;

}
