<section class="calc main__calc">
  <div class="container calc__container">
    <div class="calc__content">
      <div class="calc__header">
        <p class="calc__subtitle">ОНЛАЙН КАЛЬКУЛЯТОР</p>
        <h2 class="calc__title">
          Рассчитайте стоимость своего веб-сайта за <span>пару минут</span>
        </h2>
      </div>
      <div class="calc__desc">
        <p class="calc__text">Не уверены, что именно вам нужно?</p>
        <p class="calc__text">
          Оставьте свои контакты, и мы проведем вас через процесс, поможем
          сформулировать идеи и найдем идеальное решение для вашего сайта.
        </p>
        <button class="calc__help-btn">Помочь разобраться</button>
      </div>
    </div>
    <div class="calc__quiz">
      <div class="calc__quiz-inner">
        <div class="calc__quiz-question">
          <p class="quiz-question__number">01 /</p>
          <p class="quiz-question__text">Вопрос?</p>
        </div>
        <div class="calc__quiz-answers">
          <span class="quiz__answer">Ответ 1</span>
          <span class="quiz__answer">Ответ 2</span>
        </div>
        <div class="calc__quiz-bottom">
          <div class="quiz-bottom__progress">
            <span class="quiz-bottom__progress-number">0%</span>
            <div class="quiz-bottom___progress-bar">
              <span class="quiz-bottom__progress-complete"></span>
            </div>
          </div>
          <button class="quiz-bottom__accept-btn">
            Продолжить
            <svg
              width="29"
              height="22"
              viewBox="0 0 29 22"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <line
                y1="-0.5"
                x2="15.0229"
                y2="-0.5"
                transform="matrix(0.686039 -0.727564 0.8893 0.457324 18.3921 21.8115)"
                stroke="white"
              />
              <line
                y1="-0.5"
                x2="15.0229"
                y2="-0.5"
                transform="matrix(0.689446 0.724337 0.887144 -0.461492 18.3408 0)"
                stroke="white"
              />
              <line
                x1="-0.00117319"
                y1="10.8687"
                x2="28.1025"
                y2="10.8027"
                stroke="white"
              />
            </svg>
          </button>
        </div>
      </div>
      <div class="calc__quiz-loading">
        <span class="calc__quiz-loading-text"
          >Пожалуйста, подождите немного. Проводим расчеты...</span
        >
        <div class="calc__quiz-loading-spinner">
          <svg
            class="loading-circle-black"
            width="20"
            height="20"
            viewBox="0 0 50 50"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <circle cx="25" cy="25" r="25" fill="#131313" />
          </svg>
          <svg
            class="loading-circle-blue"
            width="20"
            height="20"
            viewBox="0 0 50 50"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <circle cx="25" cy="25" r="25" fill="#2d4cff" />
          </svg>
        </div>
      </div>
      <div class="calc__quiz-result">
        <p class="quiz-result__subtitle">
          Вы на шаг ближе к вашему сайту мечты!
        </p>
        <p class="quiz-result__text">
          Мы подсчитали, что примерная стоимость разработки вашего сайта
          составляет:
        </p>
        <span class="quiz-result__price">~ 27 600 руб.</span>
        <form class="quiz-result__message">
          <h4 class="quiz-resutl__message-title">Отличный выбор!</h4>
          <p class="quiz-result__mesage-text">
            Чтобы мы могли связаться с вами и обсудить детали, оставьте свои
            контактные данные:
          </p>
          <div class="quiz-result__inputs">
           <div class="quiz-result__input-wrapper">
              <input
                type="text"
                class="quiz-result__input-name"
                id="quiz-result-name"
                placeholder=" "
              />
              <label class="quiz-result__label-name" for="name">Имя</label>
           </div>
            <div class="quiz-result__input-connect">
              <div class="quiz-result__input-wrapper">
                <input type="text" class="quiz-result__input-type" id="connect" placeholder=" " />
                <label class="quiz-result__placeholder-connect" for="connect"
                  >Выберите способ связи</label
                >
              </div>
              <div class="quiz-result__contact-method-radio">
                <input
                  type="radio"
                  id="telegram-quiz"
                  name="connectMethod"
                  value="telegram"
                  hidden
                />
                <label for="telegram-quiz" class="quiz-result__method">
                
                  <svg
                    width="20"
                    height="20"
                    viewBox="0 0 20 20"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <g clip-path="url(#clip0_719_334)">
                      <path
                        d="M18.3764 1.77433L0.657317 8.64256C-0.0557229 8.96238 -0.296898 9.60293 0.484944 9.95053L5.03069 11.4026L16.0216 4.57487C16.6217 4.14622 17.2361 4.26053 16.7074 4.73204L7.2677 13.3232L6.97117 16.959C7.24583 17.5204 7.74873 17.523 8.0695 17.244L10.6811 14.7601L15.154 18.1267C16.1928 18.7449 16.7581 18.346 16.9816 17.2129L19.9154 3.24925C20.22 1.85449 19.7006 1.23996 18.3764 1.77433Z"
                        fill="white"
                      />
                    </g>
                    <defs>
                      <clipPath id="clip0_719_334">
                        <rect width="20" height="20" fill="white" />
                      </clipPath>
                    </defs>
                  </svg>
                  telegram
                </label>

                <input
                  type="radio"
                  id="email-quiz"
                  name="connectMethod"
                  value="email"
                  hidden
                />
                <label for="email-quiz" class="quiz-result__method">
                  <svg
                    width="20"
                    height="16"
                    viewBox="0 0 20 16"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M13.3892 8.33343L19.7933 13.8226C19.9296 13.5106 19.9999 13.1739 20 12.8334V4.12427L13.3892 8.33343Z"
                      fill="white"
                    />
                    <path
                      d="M10.4483 8.22754L19.91 2.20587C19.7714 1.67145 19.4598 1.19793 19.0239 0.859202C18.5879 0.520469 18.0521 0.335576 17.5 0.333374H2.49997C1.94788 0.335576 1.41205 0.520469 0.97608 0.859202C0.540114 1.19793 0.228537 1.67145 0.0899658 2.20587L9.55247 8.22754C9.6865 8.31226 9.84182 8.35723 10.0004 8.35723C10.1589 8.35723 10.3143 8.31226 10.4483 8.22754Z"
                      fill="white"
                    />
                    <path
                      d="M0 4.12427V12.8334C0.000309152 13.1733 0.0706614 13.5095 0.206667 13.8209L6.61083 8.33344L0 4.12427Z"
                      fill="white"
                    />
                    <path
                      d="M11.9284 9.2617L11.3451 9.6342C10.9434 9.88788 10.478 10.0225 10.003 10.0225C9.5279 10.0225 9.06256 9.88788 8.66089 9.6342L8.07756 9.26086C8.06506 9.27253 8.06006 9.28836 8.04756 9.2992L1.34839 15.0375C1.70232 15.2288 2.09776 15.3304 2.50006 15.3334H17.5001C17.9026 15.3304 18.2983 15.2288 18.6526 15.0375L11.9584 9.2992C11.9451 9.28836 11.9401 9.27253 11.9284 9.2617Z"
                      fill="white"
                    />
                  </svg>
                  email
                </label>
              </div>
            </div>
          </div>
          <button class="quiz-result__send">
            Заказать сайт
            <svg
              width="29"
              height="22"
              viewBox="0 0 29 22"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <line
                y1="-0.5"
                x2="15.0229"
                y2="-0.5"
                transform="matrix(0.686039 -0.727564 0.8893 0.457324 18.3921 21.8115)"
                stroke="white"
              />
              <line
                y1="-0.5"
                x2="15.0229"
                y2="-0.5"
                transform="matrix(0.689446 0.724337 0.887144 -0.461492 18.3408 0)"
                stroke="white"
              />
              <line
                x1="-0.00117319"
                y1="10.8687"
                x2="28.1025"
                y2="10.8027"
                stroke="white"
              />
            </svg>
          </button>
        </form>
      </div>
    </div>
  </div>
</section>
