<header class="header">
  <div class="gradient-bg">
    <svg xmlns="http://www.w3.org/2000/svg">
      <defs>
        <filter id="goo">
          <feGaussianBlur in="SourceGraphic" stdDeviation="10" result="blur" />
          <feColorMatrix
            in="blur"
            mode="matrix"
            values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 18 -8"
            result="goo"
          />
          <feBlend in="SourceGraphic" in2="goo" />
        </filter>
      </defs>
    </svg>
    <div class="gradients-container">
      <div class="g1"></div>
      <div class="g2"></div>
      <div class="g3"></div>
      <div class="g4"></div>
      <div class="g5"></div>
      <div class="interactive"></div>
    </div>
  </div>
  <div class="container header__container">
    <div class="header__upper" >
      <a href="/" class="header__logo" style="cursor: pointer;">equinox</a>
      <button class="header__swither dark-active" date-theme-switcher>
        <svg
          class="black-circle"
          width="50"
          height="50"
          viewBox="0 0 50 50"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <circle cx="25" cy="25" r="25" fill="#131313" />
        </svg>
        <svg
          class="white-circle"
          width="60"
          height="60"
          viewBox="0 0 60 60"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <g filter="url(#filter0_f_719_363)">
            <circle cx="30" cy="30" r="25" fill="white" />
          </g>
          <defs>
            <filter
              id="filter0_f_719_363"
              x="0"
              y="0"
              width="60"
              height="60"
              filterUnits="userSpaceOnUse"
              color-interpolation-filters="sRGB"
            >
              <feFlood flood-opacity="0" result="BackgroundImageFix" />
              <feBlend
                mode="normal"
                in="SourceGraphic"
                in2="BackgroundImageFix"
                result="shape"
              />
              <feGaussianBlur
                stdDeviation="2.5"
                result="effect1_foregroundBlur_719_363"
              />
            </filter>
          </defs>
        </svg>
        <span>
          <svg
            width="20"
            height="12"
            viewBox="0 0 20 12"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <line
              x1="19.7133"
              y1="11.4096"
              x2="9.71327"
              y2="4.40962"
              stroke="var(--white-color-10)"
              stroke-opacity="0.5"
            />
            <line
              y1="-0.5"
              x2="12.2066"
              y2="-0.5"
              transform="matrix(0.819232 -0.573462 -0.573462 -0.819232 0 11)"
              stroke="var(--white-color-10)"
              stroke-opacity="0.5"
            />
            <line
              x1="19.7133"
              y1="7.40962"
              x2="9.71327"
              y2="0.409615"
              stroke="var(--white-color-10)"
              stroke-opacity="0.5"
            />
            <line
              y1="-0.5"
              x2="12.2066"
              y2="-0.5"
              transform="matrix(0.819232 -0.573462 -0.573462 -0.819232 0 7)"
              stroke="var(--white-color-10)"
              stroke-opacity="0.5"
            />
          </svg>

          Нажмите чтобы сменить тему</span
        >
      </button>
      
    </div>
    <div class="header__content" > 
      <h1 class="header__title" ><span class="light-header">СВЕТ</span> И <span class="shadow-header">ТЕНЬ </span><br>В КАЖОЙ ДЕТАЛИ</h1>
      <p class="header__subtitle" >Начните свое цифровое путешествие вместе с нами</p>
      <div class="header__scroll-down" >
        <svg class="mouse-svg" width="46" height="79" viewBox="0 0 46 79" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect x="0.5" y="0.5" width="44.0838" height="78" rx="22.0419" stroke="white" stroke-opacity="0.5"/>
            <rect x="19.5261" y="6.29059" width="6.03141" height="15.9581" rx="3.01571" stroke="white" stroke-opacity="0.5"/>
            <line class="line-animate" x1="11.8678" y1="30.6113" x2="23.1387" y2="38.501" stroke="white" stroke-opacity="0.5"/>
            <line class="line-animate transform-line" y1="-0.5" x2="13.7579" y2="-0.5" transform="matrix(-0.819232 0.573462 0.573462 0.819232 34.123 31.0209)" stroke="white" stroke-opacity="0.5"/>
            <line class="line-animate" x1="11.8678" y1="35.1197" x2="23.1387" y2="43.0093" stroke="white" stroke-opacity="0.5"/>
            <line class="line-animate transform-line" y1="-0.5" x2="13.7579" y2="-0.5" transform="matrix(-0.819232 0.573462 0.573462 0.819232 34.123 35.5293)" stroke="white" stroke-opacity="0.5"/>
        </svg>
        
            <span class="mouse-text" >scroll</span>
          
      </div>
    </div>
   <div class="scroll-down-circle"></div>
  </div>

 
  
</header>
