<section id="live" class="live main__live">
  <div class="container live__container">
    <h2 class="live__title">ЖИЗНЕННЫЙ ЦИКЛ ПРОЕКТА</h2>
    <p class="live__subtitle">
      Как мы превращаем идеи в реальность? Погружайтесь в наш
      <span>креативный процесс</span>.
    </p>
    <ul class="live__cards">
      <li class="live__cards-item live--active">
        <div class="live__cards-planet">
          <img src="./assets/content/img/planet.png" alt="" />
        </div>
        <div class="live__cards-content">
          <div class="live__cards-header">
            <span class="live__cards-number">01 /</span>
            <span class="live__cards-name">Исследование и анализ</span>
          </div>
          <p class="live__cards-desc">
            <span class="live__line"></span>
            Мы начинаем с глубокого погружения в ваш бизнес. Мы изучаем вашу
            целевую аудиторию, проводим анализ конкурентов и определяем ваши
            уникальные предложения. Это нужно для того, чтобы на этапе концепции
            строить все на основе фактов и данных.
          </p>
        </div>
      </li>
      <li class="live__cards-item">
        <div class="live__cards-planet">
          <img src="./assets/content/img/planet.png" alt="" />
        </div>
        <div class="live__cards-content">
          <div class="live__cards-header">
            <span class="live__cards-number">02 /</span>
            <span class="live__cards-name">Планирование и концепция</span>
          </div>
          <p class="live__cards-desc">
            <span class="live__line"></span>
            На этом этапе мы формируем общее видение вашего проекта. Создаем
            карту сайта, определяем структуру и функционал. Здесь мы также
            разрабатываем концепцию дизайна, согласуем стилистику и основные
            элементы, чтобы они соответствовали вашему бренду.
          </p>
        </div>
      </li>
      <li class="live__cards-item">
        <div class="live__cards-planet">
          <img src="./assets/content/img/planet.png" alt="" />
        </div>
        <div class="live__cards-content">
          <div class="live__cards-header">
            <span class="live__cards-number">03 /</span>
            <span class="live__cards-name">ДИЗАЙН ИНТЕРФЕЙСА</span>
          </div>
          <p class="live__cards-desc">
            <span class="live__line"></span>
            Мы занимаемся созданием визуального оформления вашего сайта.
            Разрабатываем макеты страниц, подбираем цветовые схемы и шрифты, а
            также прорабатываем каждую деталь. Этот этап включает в себя
            затверждение дизайна, чтобы мы могли быть уверены, что он
            соответствует вашим ожиданиям.
          </p>
        </div>
      </li>
      <li class="live__cards-item">
        <div class="live__cards-planet">
          <img src="./assets/content/img/planet.png" alt="" />
        </div>
        <div class="live__cards-content">
          <div class="live__cards-header">
            <span class="live__cards-number">04 /</span>
            <span class="live__cards-name">Разработка</span>
          </div>
          <p class="live__cards-desc">
            <span class="live__line"></span>
            После финализации дизайна мы переходим к технической реализации. Мы
            используем современные технологии и удостоверяемся, что сайт будет
            быстро загружаться и отлично работать на всех устройствах. В этом
            этапе также происходит интеграция необходимых систем, баз данных и
            API.
          </p>
        </div>
      </li>
      <li class="live__cards-item">
        <div class="live__cards-planet">
          <img src="./assets/content/img/planet.png" alt="" />
        </div>
        <div class="live__cards-content">
          <div class="live__cards-header">
            <span class="live__cards-number">05 /</span>
            <span class="live__cards-name">Тестирование</span>
          </div>
          <p class="live__cards-desc">
            <span class="live__line"></span>
            Наш процесс тестирования включает функциональную проверку,
            тестирование юзабилити и кроссбраузерную совместимость. Мы
            проверяем, чтобы все элементы работали корректно и без сбоев. Ваш
            сайт будет протестирован на разных устройствах и браузерах, чтобы
            обеспечить лучший пользовательский опыт.
          </p>
        </div>
      </li>
      <li class="live__cards-item">
        <div class="live__cards-planet">
          <img src="./assets/content/img/planet.png" alt="" />
        </div>
        <div class="live__cards-content">
          <div class="live__cards-header">
            <span class="live__cards-number">06 /</span>
            <span class="live__cards-name">Запуск</span>
          </div>
          <p class="live__cards-desc">
            <span class="live__line"></span>
            После успешного тестирования мы готовим сайт к запуску. Настраиваем
            хостинг и домен, загружаем все файлы и проверяем, что всё работает
            перед публикацией. В этот момент мы готовим вас к передаче, чтобы вы
            уверенно могли управлять своим новым ресурсом.
          </p>
        </div>
      </li>
      <li class="live__cards-item">
        <div class="live__cards-planet">
          <img src="./assets/content/img/planet.png" alt="" />
        </div>
        <div class="live__cards-content">
          <div class="live__cards-header">
            <span class="live__cards-number">07 /</span>
            <span class="live__cards-name">Поддержка и оптимизация</span>
          </div>
          <p class="live__cards-desc">
            <span class="live__line"></span>
            Запуск — это лишь начало. Мы предоставляем услуги поддержки и
            оптимизации, чтобы гарантировать, что ваш сайт будет развиваться и
            адаптироваться к изменяющимся требованиям и тенденциям. Мы также
            проводим регулярные обновления и осуществляем мониторинг для
            поддержания его производительности.
          </p>
        </div>
      </li>
    </ul>
    
    <div class="live__btns">
      <button class="live__prev-btn live-btn">
        <svg width="29" height="22" viewBox="0 0 29 22" fill="none" xmlns="http://www.w3.org/2000/svg">
            <line y1="-0.5" x2="15.0229" y2="-0.5" transform="matrix(-0.686039 -0.727564 -0.8893 0.457324 10.3062 21.8115)" stroke="white"/>
            <line y1="-0.5" x2="15.0229" y2="-0.5" transform="matrix(-0.689446 0.724337 -0.887144 -0.461492 10.3574 0)" stroke="white"/>
            <line y1="-0.5" x2="28.1038" y2="-0.5" transform="matrix(-0.999997 -0.00234638 -0.00234638 0.999997 28.6982 11.3687)" stroke="white"/>
            </svg>
            
        Назад
    </button>
      <button class="live__next-btn live-btn">
        Вперед
        <svg width="29" height="22" viewBox="0 0 29 22" fill="none" xmlns="http://www.w3.org/2000/svg">
            <line y1="-0.5" x2="15.0229" y2="-0.5" transform="matrix(0.686039 -0.727564 0.8893 0.457324 18.3921 21.8115)" stroke="white"/>
            <line y1="-0.5" x2="15.0229" y2="-0.5" transform="matrix(0.689446 0.724337 0.887144 -0.461492 18.3408 0)" stroke="white"/>
            <line x1="-0.00117319" y1="10.8687" x2="28.1025" y2="10.8027" stroke="white"/>
            </svg>
            
    </button>
    </div>
  </div>
</section>
